# Configurações do Banco de Dados
DB_USER=postgres
DB_PASSWORD=minhasenhasegura123
DB_NAME=tuss_db
DB_PORT=5432

# Portas de Desenvolvimento
BACKEND_PORT=3000
FRONTEND_PORT=5173

# Porta de Produção
PROD_PORT=80
